/* .todos {
    display: flex;
    gap: 10px;
}
.card {
    border: solid 1px black;
    width: 20%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header button {
    border: none;
    background-color: transparent;
    height: 20px;
} */

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    width: 20vw;
    height: 100vh;
    background-color: bisque;
}

.projects header {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.projects header h2 {
    flex-grow: 1;
    color: darkred;
}

button {
    user-select: none;
    -webkit-user-select: none;
}

.add-project {
    background: lightgray;
    color: gray;
    border-radius: 50%;
    font-size: 20px;
    border: 1px solid gray;
    height: 40px;
    width: 40px;
}

.project-list {
    padding: 0 10px;
    margin: 0;
}

.project {
    display: flex;
    padding: 10px;
    background-color: azure;
    border: 1px solid gray;
    border-radius: 5px;
}

.project span {
    flex-grow: 1;
}

.project button {
    background-color: transparent;
    border: none;
}

.project.selected {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: aliceblue;
}

.main {
    width: 80vw;
    height: 100vh;
    background-color: burlywood;
}

.header {
    width: 100%;
    height: 20%;
    background-color: coral;
    display: flex;
    align-items: center;
}

.project-title {
    flex-grow: 1;
    padding-left: 10px;
    color: ivory;
}

.add-todo {
    background: darkred;
    border-radius: 50%;
    border: 1px solid ivory;
    color: ivory;
    width: 40px;
    height: 40px;
    font-size: 30px;
}

.todos {
    overflow: auto;
    height: 80%;
}

.todos ul {
    list-style: none;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todos ul li {
    border-radius: 10px;
    border: 1px solid gray;
    padding: 5px;
}

.todo-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.todo-header h3 {
    flex-grow: 1
}

.todo-header button {
    height: 30px;
}

.todo-content {
    display: flex;
    gap: 10px;
}

.todo-description {
    flex-grow: 1;
}

.todo-priority {
    min-width: 6%;
}

.todos .low {
    background-color: #70ff70;
}

.todos .medium {
    background-color: #ffff70;
}

.todos .high {
    background-color: #ff5050;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

::backdrop {
    background-color: rgba(0, 0, 0 , 0.2)
  }

